<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HandBook.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HandBook.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom/CustomLayout.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom/PostStyling.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    @RenderSection("Styles", false)
</head>

<body>
    <header>
        <nav class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky" id="navbarAttributes">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Home" asp-action="Feed">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="label">Home</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Home" asp-action="ExplorePage">
                        <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span class="label">Explore</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Home" asp-action="Notifications">
                        <span class="icon"><i class="fa-solid fa-bell"></i></span>
                        <span class="label">Notifications</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Messages" asp-action="MainPage">
                        <span class="icon"><i class="fa-solid fa-comments"></i></span>
                        <span class="label">Messenger</span>
                    </a>

                    @if (!User!.Identity!.IsAuthenticated)
                    {
                        <a class="list-group-item list-group-item-action py-2 ripple" asp-area="Identity" asp-page="/Account/Register">
                            <span class="icon"><i class="fa-solid fa-user-lock"></i></span>
                            <span class="label">Sign up</span>
                        </a>
                    }
                    else
                    {
                        var username = User.Identity.Name;
                        <a class="list-group-item list-group-item-action py-2 ripple" href="/Home/Account?username=@username">
                            <span class="icon">
                                <i class="fa-solid fa-user-gear"></i>
                            </span>
                            <span class="label">Account</span>
                        </a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div id="cookie-consent-message">
        <partial name="_CookieConsentPartial" />
    </div>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted position-relative">
        <div class="container text-center">
            &copy; 2023 - HandBook.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>
</body>
</html>
