@model IEnumerable<Messenger.Models.UserMassageDTO>

@if (Model!=null)
{
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Chat", "Messages", new { userName = item.UserData })">
            <div class="row">
                <div class="row">
                    @item.UserData
                </div>
                <div class="row">
                    @item.Message
                </div>
            </div>
        </a>
    }
}
else
{
    
}