.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
}
.comment-container {
    display: flex;
    border-bottom: 1px solid #ddd; /* Add a bottom border between comments */
    margin-bottom: 15px; /* Adjust margin for spacing between comments */
}

.profile-column {
    flex: 0 0 auto; /* Make the profile image column non-flexible */
    margin-right: 10px;
}

.comment-column {
    flex: 1; /* Make the comment details column flexible */
}

.comment {
    margin-bottom: 10px; /* Adjust margin for spacing between elements within a comment */
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-username {
    font-weight: bold;
}

.comment-time {
    color: #888;
}

.comment-content {
    margin-top: 5px; /* Adjust margin for spacing between username/time and content */
}

.comment-actions {
    margin-top: 5px; /* Adjust margin for spacing between content and actions */
}

.comment-action {
    margin-right: 10px; /* Adjust margin between "Like" and "Reply" links */
    text-decoration: none;
    color: #385898; /* Facebook's primary blue color */
}

.view-replies {
    color: #385898; /* Match Facebook's primary blue color */
    cursor: pointer;
}
