.upload-container {
    position: relative;
    display: inline-block;
}

.upload-input {
    position: relative;
}

    .upload-input input {
        position: absolute;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
    }

.uploaded-image {
    height: 100px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
}

.plus-icon {
    height: 30px;
    width: 30px;
    color: white;
    background: #0b5ed7;
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.upload-input:hover .plus-icon {
    background-color: #4830C0;
}

#following-information {
    font-size: 1.1em;
}

.add-following, .remove-following {
    font-size: 1.1em;
}

#custom-view-profile-image-container-id {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    overflow: hidden;
    display: none !important;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#overlay-panel-for-follows {
    display: block;
    z-index: 1000;
    height: 80vh;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: none;
    position: fixed;
}

.overlay-content {
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    padding: 10px;
}

.user-username-link {
    text-decoration: none;
    color: darkgray;
}

    .user-username-link:hover {
        text-decoration: none;
        color: black;
    }

    .user-username-link:active {
        text-decoration: none;
    }

.element-size-1em {
    font-size: 1em;
}

    .element-size-1em.btn {
        padding: 0;
        margin: 0;
        border: none;
        box-sizing: content-box;
    }

.fa-xmark {
    color: darkgray;
    text-decoration: none;
}

    .fa-xmark:hover,
    .fa-xmark:active {
        color: black;
        text-decoration:none;
    }
.ellipsis-input {
    border: none;
    outline: none;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: border-color 0.2s ease-in-out;
}

    .ellipsis-input:hover,
    .ellipsis-input:focus,
    .ellipsis-input:active {
        border: none;
        box-shadow: none;
    }

    .hidden{
        display:none;
    }