@using HandBook.Models;
@model CardDTO


<div class="explore-page-item">
    <a class="explore-link btn" data-explore-id="@Model.Id">
        <img src="@Model.image" style="width:100%; max-width:300px; height:auto;" />
    </a>
</div>

