@using HandBook.Models;
@model Post
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="imagePreview" class="mt-3">
                <img id="previewImage" class="border" style="width:500px; height:500px;">
            </div>
            <div class="row">
                <form id="uploadForm" method="post" enctype="multipart/form-data" asp-action="AddAPost">
                    <div class="form-group">
                        <label for="ImageUrl" class="form-label">Image</label>
                        <div class="custom-file">
                            <input for="ImageUrl" name="ImageUrl" id="imageInput" type="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.gif" required>
                        </div>
                        <span for="ImageUrl" class="small text-danger"></span>
                    </div>
                    <div class="row mt-4">
                        <button id="confirmationButton" class="btn btn-dark" type="button">Submit</button>
                    </div>
                    @ViewBag.message
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('confirmationButton').addEventListener('click', function (e) {
        e.preventDefault();
        // Disable the button to prevent multiple submissions
        this.disabled = true;
        document.getElementById('uploadForm').submit();
    });


    document.getElementById('imageInput').addEventListener('change', function (e) {
        const previewImage = document.getElementById('previewImage');
        const fileInput = e.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    });
</script>
