@using HandBook.Models;
@model Post
@section Styles {
    <link href="@Url.Content("~/css/custom/AddAPost.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row justify-content-center pt-5 mt-2">
        <div class="col-12 col-md-9 col-lg-6">
            <div class="row">
                <div class="row display-4 justify-content-center align-items-center pb-3">
                    Add a New Post
                    <hr style="" class="py-1"/>
                </div>
                <form id="uploadForm" method="post" enctype="multipart/form-data" asp-action="AddAPost">
                    <div class="row justify-content-center">
                        <div class="upload-input col-12 m-0 p-0 position-relative">
                            <input name="ImageUrl"  id="imageInput" type="file" class="image-upload custom-file-input" accept=".png, .jpg, .jpeg" multiple="multiple" max="1" style="cursor:pointer;z-index: 10000;">
                            <label for="imageInput" class="text-center content" style="width: 100%; height: 100%; margin: 0; padding: 0; position: absolute; top: 0; left: 0;">
                                <span class="text">
                                    <span class="mb-15 plus-icon"><i class="fa fa-plus"></i></span>
                                </span>
                            </label>
                            <img class="uploaded-image" id="previewImage" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>

                    <div action="row justify-content-center">
                        <div class="row pb-2">Description:</div>
                        <div class="row">
                            <textarea class="form-control custom-textbox" rows="4" placeholder="Write the Description..." required></textarea>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <button id="confirmationButton" class="btn btn-dark" type="button">Submit</button>
                    </div>
                    @ViewBag.message
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('confirmationButton').addEventListener('click', function (e) {
        e.preventDefault();
        // Disable the button to prevent multiple submissions
        this.disabled = true;
        document.getElementById('uploadForm').submit();
    });


    document.getElementById('imageInput').addEventListener('change', function (e) {
        const previewImage = document.getElementById('previewImage');
        const fileInput = e.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    });
</script>
