@using HandBook.Models;
@model CardDTO
@section Scripts{
    <script src="@Url.Content("~/js/custom/postJs.js")" type="text/javascript" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = "DesiredPost";
    TempData.Keep();
}
<div>
    <div class="justify-content-center row">
        @await Html.PartialAsync("_PostsPartial",Model);
    </div>
</div>
<script>
    var button = document.getElementById('myButton');

    button.addEventListener('click', function () {
        window.location.href = '@Url.Action("Notifications", "Home")';
    });
</script>