@using HandBook.Models;
@model Post

@{
    ViewData["Title"] = "DesiredPost";
}
<div>
    <div class="justify-content-center row">
        @await Html.PartialAsync("_PostsPartial",Model);
        @*<partial name= model="@Model" />*@
    </div>
</div>
<script>
    var button = document.getElementById('myButton');

    // Add a click event listener to the button
    button.addEventListener('click', function () {
        // Change the location to the desired page
        window.location.href = '@Url.Action("Notifications", "Home")';
    });
</script>