@using HandBook.Models.ViewModels;
@using Messenger.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> UserManager
@model ExplorePageViewModel
<style>
    .user-link, .user-link:hover {
        text-decoration: none;
        color: black;
    }

    .user-information {
        background: white;
    }
</style>
<div class="pt-5">
    <form id="searchForm" method="get">
        <div class="form-actions no-color">
            <div class="row justify-content-center">
                <input class="col-8 h5 pt-1 pb-1" type="text" placeholder="Search" name="SearchString" autocomplete="off" id="searchInput" value="@ViewData["CurrentFilter"]" />
            </div>
        </div>
    </form>
    <div id="explore-page">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model.Posts)
                {
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="explore-item">
                            @await Html.PartialAsync("~/Views/Home/_ExplorePagePartial.cshtml", item)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div id="searchResults" style="z-index:1">
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchInput = document.getElementById('searchInput');
            searchInput.addEventListener('input', function () {
                var searchString = searchInput.value;
                searchUsers(searchString);
            });
        });

        window.onload = function () {
            var searchInput = document.getElementById('searchInput');
            var searchStringBeggining = searchInput.value;
            searchUsers(searchStringBeggining);
        };

        function searchUsers(query) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var users = JSON.parse(xhr.responseText);
                        var resultsContainer = document.getElementById('searchResults');
                        resultsContainer.innerHTML = '';
                        users.forEach(function (user) {
                            var usernameLink = 'https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/profile-image-for-' + user.userName + '.png';
                            var alternativeLink = 'https://res.cloudinary.com/dzaicqbce/image/upload/v1700160046/azgysbpf8xpcxpfclb9i.jpg';
                            var imgTag = '<img src="' + usernameLink + '" alt="Image not found" onerror="this.onerror=null;this.src=\'' + alternativeLink + '\';" style="border-radius:30px;height:60px; width:60px; margin-right:10px;" />';

                            var userDiv = document.createElement('div');
                            userDiv.innerHTML =
                                '<div class="row justify-content-center pt-1">' +
                                '   <div class="col-8 border">' +
                                '       <a class="user-link" href="/Home/Account?username=' + user.userName + '">' +
                                '           <div class="row align-items-center user-information">' +
                                '               <div class="col-1 pt-1 pb-1">' +
                                '                   ' + imgTag +
                                '               </div>' +
                                '               <div class="col">' +
                                '                   <div class="row p-0 m-0 h5">' +
                                '                       ' + user.userName +
                                '                   </div>' +
                                '               </div>' +
                                '           </div>' +
                                '       </a>' +
                                '   </div>' +
                                '</div>';

                            resultsContainer.appendChild(userDiv);
                        });
                    } else {

                    }
                }
            };

            if (query === "") {
                var resultsContainer = document.getElementById('searchResults');
                resultsContainer.innerHTML = '';
                return;
            }
            xhr.open('GET', '/Home/SearchUsersFilter?searchString=' + query, true);
            xhr.send();
        }
    </script>
}