@using HandBook.Models;
@model IEnumerable<CardDTO>

@section Styles {
    <link href="@Url.Content("~/css/custom/CustomPostIndex.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{
    <script src="@Url.Content("~/js/custom/postJs.js")" type="text/javascript" asp-append-version="true"></script>
}
<div class="container mb-5">
    <br />
    <br />
    <div class=" post-container" data-user-username="@TempData["UserUsername"]">
        <div class="liked-comments-from-temp" data-comments-list="@TempData["UserLikedComments"]"></div>
        @if (Model != null)
        {
            TempData.Keep();
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("_PostsPartial", item)
                ;
            }
        }
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
        <div class="col-auto">
            <a class="btn btn-primary btn-circle" asp-area="" asp-controller="Home" asp-action="AddAPost">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
</div>
