@using HandBook.Models;
@model IEnumerable<Notification>

@{
    ViewData["Title"] = "Notifications";
}

@section Scripts{
    <script src="@Url.Content("~/js/custom/notificationsPage.js")" type="text/javascript" asp-append-version="true"></script>
}
<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <partial name="_NotificationsPartial" model="@item" />
        }
    </div>
</div>
